.container-fluid {
    background-image: url("https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg");
    background-size: 50%;
    padding-top: 20px;
  }
  
  #banner{
    background-image: url("https://i.ytimg.com/vi/M2uBtg_PzKg/maxresdefault.jpg");
    background-size: 50%;
  }
  .navbar{
    background-color: #e69500;
    border-color: #e69500;
    font-size: 20px;
    letter-spacing: 0.17em;
  }
  ul>li>a {
    color: white;
  }
  .navbar-brand{
    color: white;
    font-size: 25px;
  }
  img {
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
  }
  .profile-img{
      width: 400px;
      border-radius: 5px;
  }
  @media(max-width: 480px){
    .profile-img{
      margin-top: 100px;
    }
  }
  #banner img{
    min-width: 70px;
  }
  .blockquote {
    color: white;
    margin-left: 50px;
  }
  .blockquote h1{
    font-weight: 200;
    text-align: left;
  }
  .vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  h1{
    color: white !important;
    font-weight: 20;
    letter-spacing: 0.3vw;
    font-size: 5vw;
    margin: 50px 0px 20px 0px !important;
  }
  .blockquote-footer{
    color: #e69500 !important;
    margin-top: 20px;
    font-size: 100% !important;
    text-align: left;
  }
  h5{
    color: white !important;
    font-size: 20px;
    padding: 50px 0 50px 0;
  }
  form{
    width: 100%;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }
  .form-item{
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #e69500;
  }
  .form-item input, textarea{
    position: relative;
    font-size: 3vw;
    width: 100%;
    background: 0 0;
    color: white;
    border-color: transparent;
    min-width: 100%;
  }
  hr{
    border: 2px solid white;
    width: 30vw;
    margin-bottom: 30px;
  }
  p{
    color: white;
    line-height: 2em;
  }
  form p{
    padding-top: 15px;
  }
  .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .skill-img{
    vertical-align: middle;
    max-width: 10%;
    min-width: 70px;
    margin-bottom: 100px;
  }
  form button{
    background-color: #e69500;
    color: white;
    border: 0px;
    width: 100%;
    font-size: 25px;
  }
  .footer{
    background-color: #e69500 !important;
    padding: 10px 0px 10px 0px;
    font-weight: 200;
  }
  .footer p{
    margin: 0;
    font-size: 20px;
  }
  #skills, #projects, #contact{
    margin-bottom: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .social-media{
    margin: auto;
    font-size: 40px;
  }
.media-icons a{
  color: #e69500 !important;
}
a:hover{
  text-decoration: none !important;
}
  .media-icons{
    padding: 10px 0 10px 0; 
  }
  .pre-footer-holder{
    padding: 5px 0 5px 0;
  }
  .social-icon{
    margin: 0 5px 0 5px;
  }
  a{
    cursor: pointer;
  }
  textarea{
    font-size: 5vh !important;
    min-height: 200px;
    max-width: 100%;
  }
  nav{
     box-shadow: 10px 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button{
      background-color: white;
  }
  ul{
    float: right;
  }
  .in-line-words{
    color:#e69500;
  }
  .quote-div{
    margin: 100px 0px 100px 0px;
    width: 80%;
    text-align: center;
    margin: 100px auto 100px auto;
  }
  .social-media-head{
    font-size: 3vh;
    margin-bottom: 0px;
    font-weight: 200;
  }